{% extends 'base.html' %}

{% block content %}

<table class="bordertable" width="100%" cellspacing="0" cellpadding="0" border="1">
   <tbody>
      <tr>
         <td>
            <table width="100%" cellspacing="0" cellpadding="2" border="0">
               <tbody>
                  <tr>
                     <td class="white" bgcolor="#3B5998">Contact Us</td>
                  </tr>
               </tbody>
            </table>
            <center>
               <p class="title">[ Contact Us ]</p>
               <center>
                  <table width="95%" cellspacing="0" cellpadding="0" border="0">
                     <tbody>
                        <tr>
                           <td>
                              <center>
                                 <table class="bordertable" width="90%" cellspacing="0" cellpadding="0">
                                    <tbody>
                                       <tr>
                                          <td>
                                             <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                                <tbody>
                                                   <tr>
                                                      <td class="white" bgcolor="#3B5998">Suggest a New School</td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                             &nbsp;<br>
                                             <center>
                                                <table width="95%" cellspacing="0" cellpadding="2" border="0">
                                                   <tbody>
                                                      <tr>
                                                         <td></td>
                                                      </tr>
                                                      <tr>
                                                         <td>Suggest a new school to be added to the fakebook network. If you provide us with your email address, we will notify you when the school is added.</td>
                                                      </tr>
                                                      <form method="post" action="#"></form>
                                                   </tbody>
                                                </table>
                                                <table cellspacing="4" cellpadding="2" border="0">
                                                   <tbody>
                                                      <tr>
                                                         <td>New School:</td>
                                                         <td>&nbsp;
                                                            <input class="inputtext" name="newschool" size="30" type="text">
                                                         </td>
                                                      </tr>
                                                      <tr>
                                                         <td>Email (optional):</td>
                                                         <td>&nbsp;
                                                            <input class="inputtext" name="email" size="30" type="text">
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                <center><input class="inputsubmit" value="  Submit  " type="submit"></center>
                                                <p></p>
                                             </center>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <p></p>
                                 <p></p>
                                 <center>
                                    <table class="bordertable" width="90%" cellspacing="0" cellpadding="0">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                                   <tbody>
                                                      <tr>
                                                         <td class="white" bgcolor="#3B5998">Email</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                &nbsp;<br>
                                                <center>
                                                   <table width="95%" cellspacing="0" cellpadding="0" border="0">
                                                      <tbody>
                                                         <tr>
                                                            <td>
                                                               <table cellspacing="0" cellpadding="3" border="0">
                                                                  <tbody>
                                                                     <tr>
                                                                        <td><b>Information/Support:</b>&nbsp;&nbsp;</td>
                                                                        <td>
                                                                           <a href="javascript:window.location='mailto:info'+'@'+'thefakebook.com'">
                                                                              info@thefakebook.com
                                                                           </a>
                                                                        </td>
                                                                     </tr>
                                                                     <tr>
                                                                        <td><b>Suggestions/Requests:</b>&nbsp;&nbsp;</td>
                                                                        <td>
                                                                           <a href="javascript:window.location='mailto:suggest'+'@'+'thefakebook.com'">
                                                                              suggest@thefakebook.com
                                                                           </a>
                                                                        </td>
                                                                     </tr>
                                                                     <tr>
                                                                        <td><b>Business Development:</b></td>
                                                                        <td>
                                                                           <a href="javascript:window.location='mailto:business'+'@'+'thefakebook.com'">
                                                                              business@thefakebook.com
                                                                           </a>
                                                                           <!--\
                                                                              td-->
                                                                        </td>
                                                                     </tr>
                                                                     <tr>
                                                                        <td><b>Press Inquiries:</b></td>
                                                                        <td>
                                                                           <a href="javascript:window.location='mailto:press'+'@'+'thefakebook.com'">
                                                                              press@thefakebook.com
                                                                           </a>
                                                                        </td>
                                                                     </tr>
                                                                     <tr>
                                                                        <td><b>fakebook Announcements:&nbsp;&nbsp;</b></td>
                                                                        <td>
                                                                           <a href="javascript:window.location='mailto:announce'+'@'+'thefakebook.com'">
                                                                              announce@thefakebook.com
                                                                           </a>
                                                                        </td>
                                                                     </tr>
                                                                     <tr>
                                                                        <td><b>Advertising:</b></td>
                                                                        <td>
                                                                           <a href="javascript:window.location='mailto:advertise'+'@'+'thefakebook.com'">
                                                                              advertise@thefakebook.com
                                                                           </a>
                                                                        </td>
                                                                     </tr>
                                                                  </tbody>
                                                               </table>
                                                            </td>
                                                         </tr>
                                                      </tbody>
                                                   </table>
                                                   &nbsp;<br>
                                                </center>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    &nbsp;<br><input class="inputsubmit" value="Home" onclick="javascript:document.location=&quot;index&quot;;" type="button"><br>&nbsp;
                                 </center>
                              </center>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </center>
            </center>
         </td>
      </tr>
   </tbody>
</table>

{% endblock %}