{% extends 'base.html' %}

{% block content %}

<table class="bordertable" width="100%" cellspacing="0" cellpadding="0" border="1">
   <tbody>
      <tr>
         <td>
            <table width="100%" cellspacing="0" cellpadding="2" border="0">
               <tbody>
                  <tr>
                     <td class="white" bgcolor="#3B5998">Schools Supported</td>
                  </tr>
               </tbody>
            </table>
            <center>
               <p class="title">[ The Network ]<br>&nbsp;
               <table width="95%" cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                     <tr>
                        <td class="larger">
                           <p>We have opened up Thefacebook for popular consumption at:</p>
                           <p></p>
                           <center>
                              <table cellspacing="2" cellpadding="0" border="0">
                                 <tbody>
                                    <tr>
                                       <td class="medium">
                                          <center>Alabama • American • Amherst • Appalachian State • Arizona</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Arizona State • Arkansas • Auburn • Augustana • Babson • Ball State</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Bard • Bates • Baylor • Bentley • Berkeley • Berklee • Binghamton</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Boston College • Bowdoin • Bowling Green • Bradley • Brandeis • British Columbia</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Brown • Bryant • Bryn Mawr • BSC • BU • Bucknell • Butler</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>BYU • Cal Poly • Cal Poly Pomona • Caltech • Calvin • Carleton</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Carnegie Mellon • Case Western • Catholic • Central Florida • Central Mich.</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Chicago • Cincinnati • Claremont McKenna • Clark U • Clarkson • Clemson</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>CNU • COFC • Col. College • Colby • Colgate • Colorado State</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Columbia • Conn College • Cooper Union • Cornell • Creighton</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>CSU Chico • CSU Fresno • CSU Humboldt • CSU Long Beach</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>CSU Northridge • CSU Sacramento • CU Boulder • CUNY Baruch</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>CUNY Brooklyn • CUNY Hunter • Dartmouth • Davidson • Dayton</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Delaware • Denison • Denver • DePaul • Depauw • Dickinson</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Drew • Drexel • Duke • E. Illinois • E. Michigan • East Carolina</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Eastern • Elon • Emerson • Emory • F &amp; M • Fairfield • Fairleigh Dickinson</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>FAU • FIU • Flagler • Florida • Florida State • Fordham • Fullerton • Furman</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>GA Southern • George Mason • Georgetown • Georgia • Georgia State</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Georgia Tech • Gettysburg • Gonzaga • Grand Valley State</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Grinnell • GWU • Hamilton • Hampshire • Hartford • Harvard</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Harvey Mudd • Haverford • Hawaii • Hofstra • Holy Cross (MA)</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Hope • Howard • HWS • Ill. Chicago • Illinois • Illinois State</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Indiana • Indiana State • Iona • Iowa • Iowa State • Ithaca</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>IUP • IUPUI • JMU • Johns Hopkins • Kansas • Kansas State</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Keene State • Kennesaw • Kent State • Kentucky • Kenyon</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Kutztown • Lafayette • Lehigh • Lewis &amp; Clark • Loyola Chicago</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Loyola Maryland • Loyola Marymount • Loyola New Orleans • LSU • Lynchburg</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Macalester • Maine (Orono) • Manhattan College • Marist • Marquette</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Mary Washington • Maryland • Maryland BC • Marymount • Marymount Manhattan</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>McGill • Miami • Mich Tech • Michigan • Michigan State • Middlebury</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Minnesota • Mississippi • Missouri (Mizzou) • MIT • Monmouth • Montana</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Montclair • Morehouse • Morgan • MS State • Mt. Holyoke</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>MU Ohio • Muhlenberg • N. Arizona • N. Illinois • N.C. A&amp;T;</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>N.C. State • ND State • Nebraska - Lincoln • New Hampshire • New Mexico</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>North Dakota • North Texas • Northeastern • Northwestern</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Notre Dame • NYU • Oberlin • Occidental • Ohio • Ohio State</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Ohio Wesleyan • Oklahoma • Oklahoma State • Old Dominion</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Oregon • Oregon State • Pace • Penn • Penn State • Pepperdine</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Pittsburgh • Pitzer • Pomona • Portland • Pratt • Princeton</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Providence • Puget Sound • Purdue • Quinnipiac • Radford</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Reed • Rhode Island • Rice • Richmond • Rider • RISD • RIT</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Rochester • Rollins • Rose-Hulman • Rowan • RPI • Rutgers</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>S.F. State • Sacred Heart • San Diego • San Diego State</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Santa Clara • Sarah Lawrence • Scranton • Scripps • Seattle</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Seton Hall • Simmons • Skidmore • Smith • SMU • Sonoma • South Carolina</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>South Florida • St. Johns • St. Lawrence • St. Louis • Stanford • Stetson</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Suffolk • SUNY Albany • SUNY Buffalo • SUNY Cortland • SUNY Geneseo</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>SUNY New Paltz • SUNY Oneonta • SUNY Oswego • SUNY Stony Brook</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Swarthmore • Syracuse • Tampa • TCNJ • Temple • Tennessee</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Texas • Texas A&amp;M; • Texas Arlington • Texas Christian • Texas San Antonio</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Texas State • Texas Tech • Toledo • Toronto • Towson • Trinity College</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Trinity U • Tufts • Tulane • Tulsa • TUSUR • UAB • UC Davis • UC Irvine</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>UC Riverside • UC San Diego • UC Santa Barbara • UC Santa Cruz • UCLA • UConn • UMass (Amherst) • UNC</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>UNC Greensboro • UNF • Union • University of the Pacific • UNLV • UNR • USAFA</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>USC • USFCA • USNA • Utah • UVA • Vanderbilt • Vassar • VCU</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Vermont • Vermont Tech • Villanova • Virginia Tech • W. Illinois</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Wake Forest • Washington • Washington and Lee • Washington State</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>WashU • Wayne State • Wellesley • Wesleyan • West Chester</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>West Point • West Virginia • West. Michigan • Western Washington</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Wheaton MA • Willamette • William &amp; Mary • Williams • Wisconsin</center>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="medium">
                                          <center>Wisconsin Milwaukee • WPI • WPUNJ • Xavier • Yale</center>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              &nbsp;
                           </center>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <script type="text/javascript" language="JavaScript">
                  document.getElementById('email').focus()
                  if(document.getElementById('email').value) document.getElementById('pass').focus();
               </script>
               </p>
            </center>
         </td>
      </tr>
   </tbody>
</table>


{% endblock %}